/.vscode
/AttributeMapping
/AttributeMapping2
/AttributeMappingFinal
/AttributeMatching
/AttributeMatchingProject
/AttributeName
/AttributeNameMapping
/AttributeNameMatching
/Attribute_Name_Mapping
/AutomateDataImport
/AzureImportExport
/BackBoneAI_Allied
/Category Landing Page Update
/CategoryLandingPageDataFeed
/CategoryPageTitle
/CategoryRedirects
/CategoryRedirects-LoadtoWeb
/CategoryRedirectsFeedtoWeb
/Check URI Exist
/CheckIfFileisLocked
/CheckiffileisOpen
/CloudinarySpinImageUpload
/CompareAttribute - BackUp File
/CompareAttribute - Copy
/CompareAttribute - Final
/Connections
/ConsoleApp1
/ConsoleApp2
/ConsoleApp3
/ConsoleApp4
/Content KPIs Report
/Content Nightly Updates
/Content.SSIS.NightlyFeed.Taxonomy
/ContentTechRestFulAPI
/ContentTechRestFulAPI - Copy
/Cross Reference Automation
/Data Flows
/DataConversionTest
/dbo.Stg_ProductUsers
/Execution
/Execution2
/Failure Notification
/FinalMatching
/FindingMatchingAttribute
/GetAllChoiceListandValues
/HPlusEcommerce
/Integration Services Project1
/Integration Services Project2
/KinetecoPackage
/Kineteco_Packages
/Linkedin
/Linkedin Automation.xlsx
/Load from PRD to DEV
/LoadMasterSAPTable
/Mapping
/MatchingAttribute
/MatchingAttribute - BackUp
/MyFirstIntegrationProject
/NameMapping
/Name_Mapping
/OldXref
/ParseDataandLoad
/ParseJsonData
/Practice_1
/ProdutsandClassBottom
/ReadExcelHeader
/Restart Wildfly and Notify CM's
/Service Failure Notification
/Status Check for URL
/Status Check for URL - Copy
/status check test
/Test
/TestExcelsheet
/TestImport
/Testing
/Testing1
/TestingConsoleApplication
/TestingExtraction
/TestingJson
/TestingOpenAI
/TestingV4
/TestingVS
/TestingVS2
/TestingVS3
/TestingVS4
/Testing_1
/TestIntersect
/test_1
/WebMCR
/WebScraping Testing
/XRefDataLoadtoContent - Copy
/XRefDataLoadtoContent - Del3
/XRefDataLoadtoContent - Deletion
/XRefDataLoadtoContent -Latest with deletion
/XRefDataLoadtoVendorMaster
/XRefDataLoadtoWeb